<template>
 <div>
  <v-toolbar dense class="grey lighten-2"  fixed >
          <v-toolbar-title class="nav-brand">
          Page 0
        </v-toolbar-title>


        <v-divider class="mx-4" inset vertical ></v-divider>
       <v-toolbar-items class="hidden-sm-and-down">
            <v-btn  text  class="font-weight-medium black--text text-none">
               Page 1</v-btn>
            <v-btn  text class="font-weight-medium black--text text-none">
                Page 2</v-btn>
            <v-btn  text  class="font-weight-medium black--text text-none">
                Page 3</v-btn>
            <v-btn  text  class="font-weight-medium black--text text-none">
                Page 4</v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-toolbar-items>
               <v-btn color="warning" text fab small>
                <v-icon>mdi-comment-question</v-icon>
              </v-btn>
        <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x >
          
          <template v-slot:activator="{ on }" >
            <v-btn text color="indigo" dark  v-on="on" >  {{ username }} </v-btn>
          </template>
          <v-list class="hidden-sm-and-up subtitle-2">
             <v-list-item >
               <v-list-item-content>
                  <v-list-item-title >Customer</v-list-item-title>
               </v-list-item-content> 
             </v-list-item>
            <v-list-item >
               <v-list-item-content>
                  <v-list-item-title>Task</v-list-item-title>
               </v-list-item-content> 
             </v-list-item>
              <v-list-item >
               <v-list-item-content>
                  <v-list-item-title>Order</v-list-item-title>
               </v-list-item-content> 
             </v-list-item>
              <v-list-item >
               <v-list-item-content>
                  <v-list-item-title>Product</v-list-item-title>
               </v-list-item-content> 
             </v-list-item>
          </v-list>
        
        
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <img src="../assets/user.png" alt="User">
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title> {{ username }} </v-list-item-title>
                <v-list-item-subtitle> {{ role }} </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-list>
            <v-list-item @click="Settings">
              <v-list-item-content>
              <v-list-item-title >Settings</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="Subscription">
              <v-list-item-content>
             <v-list-item-title >Subscription</v-list-item-title >
               </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text >Sign Out</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
       </v-toolbar-items>
    </v-toolbar>
     </div>
</template>

<script>
export default {
data: () => ({
    menu: false,
    username: 'Jhon Doe',
    role : 'Admin'
  })
}
</script>

<style>

</style>